* {
    margin: 0;
    padding: 0;
}

.cart {
    position: relative;
}

.cart::after {
    content: '2';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 10px;
    position: absolute;
    top: -60%;
    right: -50%;
}
.im{
    display: none;
}
#toggle {
    display: none;
}

.item:hover {
    color: red;
    transition: color 0.4s;
    cursor: pointer;
}

.container-fluid {
    border-bottom: 2px solid #fff;
    padding: 20px 0px;
}
.three{
    display: flex;
    gap: 20px;
}
.two{
    display: flex;
    gap: 25px;
}
@media screen and (max-width: 768px) {
    .container-fluid {
        flex-wrap: wrap;
    }
    .two {
        /* order: 2; */
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        gap: 0;
    }
    
    .three {
        display: none;
    }
    .im {
        display: block;
    }
    .item{
        width: 100%;
        text-align: center;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .item:hover{
        width: 100%;
        background-color: rgb(223, 239, 239);
        transition:  all 0.6s;
    }
    #toggle:checked ~ .two {
        display: flex;
        transition: flex 5s;
        background-color: rgb(218, 224, 224);
        padding: 10px 0px;
    }
}

